h1 {
  color:blue;
  text-align:center;
}
h2 {
  color:green;
  font-stle:italic;
  text-align:center;
}
p {
  font-family:sans-serif;
  text-align: center;
}
ul {
  line-height:40px;
  align: center;
}
